# This workflows will upload a Python Package using Twine when a release is published
# More information: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools==61.0 wheel==0.37.1 build twine

      - name: Clean build artifacts
        run: |
          rm -rf dist build *.egg-info

      - name: Build package
        run: |
          python -m build
          # python setup.py sdist bdist_wheel

      - name: Check package
        run: twine check dist/*

      - name: Test package installation
        run: |
          pip install dist/*.whl
          python -c "import GH_CoRE; print(f'Package version: {GH_CoRE.__version__}')"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-package
          path: dist/
          
  publish:
    runs-on: ubuntu-latest

    needs:
      - test-build

    # Dedicated environments with protections for publishing are strongly recommended.
    environment:
      name: pypi

    if: github.event_name == 'release'

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: python-package
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

#      - name: Publish to PyPI
#        env:
#          TWINE_USERNAME: __token__
#          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
#        run: |
#          pip install twine
#          twine upload dist/* --skip-existing
